<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dallin Johnson's Portfolio</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
    <!-- <script src="index.js"> </script> -->
    <!-- <script type="text/javascript" src="data.json"></script> -->
    <link rel="stylesheet" href="../index.css">
  </head>
  
  
  <body>
    <main class="btns-container">
      <h1 href="parts.html" class="finder">Dallin Johnson's Portfolio<h1>  
        <button id="home" class="ob" type="button" onclick="window.location.href='resume.html'">Resume</button>
        <button id="VR" class="ob" type="button" onclick="window.location.href='experience.html'">Experience</button>
        <button id="pc" class="ob" type="button" onclick="window.location.href='contact.html'">Contact info</button>
        <button id="phones" class="ob" type="button" onclick="window.location.href='projects.html'">Projects</button>
        <button id="processors" class="ob" type="button" onclick="window.location.href='about.html'">About me</button>
        <button id="parts" class="ob" type="button" onclick="window.location.href='references.html'">References</button>
        <button id="sell" class="ob" type="button" onclick="window.location.href='fun.html'">Fun stuff I made</button>
        <button id="checkout" class="ob" type="button" onclick="window.location.href='interests.html'">Interests</button>
        <div class="banner-section" id="img-container">
        <h2 class="home">About me</h2>
        <p></p>
        <p class="intro"></p>
        <p>love of my life</p>
        <img src="../images/bbgirl.jpg"
    </main>
    <script></script>
    <p id="home1"></p>
    <section id="electroics-container"></section>
    <script src="./node_modules/axios/dist/axios.min.js"></script>
    	<script src="index.js"></script>
    </body>
    </html>