<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dallin Johnson's Portfolio</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
    <!-- <script src="index.js"> </script> -->
    <!-- <script type="text/javascript" src="data.json"></script> -->
    <link rel="stylesheet" href="../index.css">
</head>
  
  
  <body>
    <main class="btns-container">
      <h1 href="parts.html" class="finder">Dallin Johnson's portfolio<h1>  
        <button id="home" class="ob" type="button" onclick="window.location.href='resume.html'">Resume</button>
        <button id="VR" class="ob" type="button" onclick="window.location.href='experience.html'">Experience</button>
        <button id="pc" class="ob" type="button" onclick="window.location.href='contact.html'">Contact info</button>
        <button id="phones" class="ob" type="button" onclick="window.location.href='projects.html'">Projects</button>
        <button id="processors" class="ob" type="button" onclick="window.location.href='../templates/about.html'">About me</button>
        <button id="parts" class="ob" type="button" onclick="window.location.href='references.html'">References</button>
        <button id="sell" class="ob" type="button" onclick="window.location.href='fun.html'">Fun stuff I made</button>
        <button id="checkout" class="ob" type="button" onclick="window.location.href='interests.html'">Interests</button>
        <div class="banner-section" id="img-container">
        </div>
        <h2 class="home">Experience</h2>
        <img src="https://d.newsweek.com/en/full/1533980/devmountain-logo-lockup-blue.png?w=560&f=71b1cf646452985803eb1b7e185c6b9f" style="height: 300px; width: 300px;">
        <h1>I worked with the talented teachers and students at dev mountain to learn how to create great web applications.</h1>
        <p class="intro"></p>
        <img src="https://s3.amazonaws.com/devmountain/www/img/devmountain_opengraph.png">
        <h1>I worked in a team in life and death situations helping coordinate actions to help people survive as a lifeguard.</h1>
        <img src="https://slco.org/globalassets/2-parks--rec/event-images/water-aerobics/tsunami-float-board-fitness.png"><br>
        <h1>I entered data at the salt lake valley mosquito abatement.</h1>
        <img src="../images/abatement.jpg">
        <h1>I helped costomers resolve issues at smiths.</h1>
        <img src="https://images1.loopnet.com/i2/G1Hkgfh9fQwMd3pQK1QeGly3iqRw7mK45UJd17JRTJ8/110/1634-W-South-Jordan-Pkwy-South-Jordan-UT-Smiths-3-1-Large.jpg">



        
    </main>
    <script></script>
    <p id="home1"></p>
    <section id="electroics-container"></section>
    <script src="./node_modules/axios/dist/axios.min.js"></script>
    	<script src="index.js"></script>
    </body>
    </html>